* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrant-thin";
  src: url(fonts/Montserrat-Thin.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrant-light";
  src: url(fonts/Montserrat-Light.ttf);
  font-weight: normal;
  font-style: normal;
}

body,
html {
  height: 100%;
}

.hero-image {
  background-image: linear-gradient(
      to right,
      rgb(153, 0, 0, 0.7),
      rgba(0, 0, 0, 0.5)
    ),
    url("recursos/heroimage-unsplash-min.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  width: 70%;
  color: white;
  font-family: "Montserrant-light";
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hero-title {
  font-size: 3.3rem;
  text-transform: uppercase;
  margin: 0.8rem;
}

.text-title {
  font-size: 1.2rem;
  line-height: 2rem;
}

.s1 {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url(recursos/langshoots-Q3e5ucjJV5I-unsplash-min.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 190%;
  width: 100%;
  padding: 1.6rem;
}

.text-sub-title {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  color: #525353;
  text-align: center;
}

.text-sub-title h2 {
  margin: 1.5rem;
  font-size: 2rem;
  font-weight: normal;
}

.text-sub-title p {
  line-height: 1.5rem;
  font-size: 0.9rem;
  font-weight: normal;
}

.box {
  margin: 1.5rem;
  flex: 25%;
  background: white;
  border-radius: 0.5rem;
  height: 400px;
  width: 200px;
}

.card-box {
  margin: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.middle-s1 {
  background-image: linear-gradient(rgb(155, 6, 6, 0.8), rgb(155, 6, 6, 0.8)),
    url(recursos/langshoots-Q3e5ucjJV5I-unsplash-min.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 45%;
  width: 100%;
  padding: 1rem;
}

.end-s1 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.8),
  rgba(255, 255, 255, 0.8)),
    url(recursos/langshoots-Q3e5ucjJV5I-unsplash-min.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 110%;
  width: 100%;
  padding: 1rem;
}

.text-middle {
  color: white;
  text-align: center;
  padding: 1rem;
  font-family: "Montserrant-light";
}

.text-middle h2 {
  font-size: 2rem;
  margin: 1rem;
}

.text-middle p {
  font-size: 1rem;
  margin: 1rem;
  line-height: 1.5rem;
}

.footer {
  background-color: #2a324b;
  height: 50%;
  width: 100%;
}
